* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
}

.slider-space {
    width: 779px;
    margin: auto;
}

.slider-space div {
    display: inline-block;
}

.side-selector {
    height: 386px;
    width: 14px;
    padding: 2px;
    margin: 0px 9px;
    position: relative;
    border: 1px solid silver;
    cursor: pointer;
    color: #555;
}

.side-selector:hover {
    box-shadow: 0px 0px 3px #999;
}

.side-selector span {
    position: absolute;
    top: calc(50% - 9px);
    font-family: monospace;
}

.slider {
    width: 685px;
    height: 386px;
    margin: auto;
    border: 1px solid gold;
    box-shadow: 0px 0px 7px 3px;
    vertical-align: top;
}

.slider img {
    position:absolute;
    width: 685px;
    height: 386px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.slider .selected-image {
    opacity: 1;
}

.image-selector {
   text-align: center;
}

.image-selector div {
    width: 8px;
    height: 8px;
    background-color: gold;
    border: gold 1px solid;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px #25736ba1;  
    cursor: pointer;
}

.image-selector div:hover {
    background-color: silver;
    border: 1px solid silver;
}

.image-selector div.active {
    background-color: silver;
    border: 1px solid silver;
}

.speed-range {
    display: block;
    margin: 0 auto;
}



